&nbsp; <br> &nbsp; <br> 
<ul class="sidemenu">
<li><a href="/basics">Basics</a></li>
<li><a href="/colors">Couleurs</a></li>
<li><a href="/typographie">Typographie</a></li>	
<li><a href="/images">Images</a></li>
<li{% if nav == 'navig' %} class="open"{% endif %}><a href="/navigation">Navigation</a>
	<ul>
		<li><a href="/navigation">Menus</a></li>
		<li><a href="/navigation">Pagination</a></li>
	</ul>
</li>
<li><a href="/boutons">Boutons</a></li>
<li><a href="/messages">System messages</a></li>	
<li><a href="/thumbnail">Thumbnails</a><sup>*</sup></li>
<li>Forms</li>	
<li><a href="/visuals">logos & icone</a></li>	
<li><a href="/branding">Branding</a></li>
<li>Layouts</li>
<li><a href="/grid">Grid</a><sup>*</sup></li>
</ul>




