/* ( o ) ---------- */
/*  | |  CSS Styles */
/*----------------- */

/*.thumbnail{outline:1px solid yellow}*/

.thumbnail{width:auto;clear:both;margin:0 8px 1.25em;padding-bottom:1em;}
.thumbnail .visual{display:block;position:relative}
.thumbnail .play-overlay, .thumbnail .thumb-overlay {position:absolute;top:0; left:0;right :0 ; bottom:0;background:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE1MHB4IiBoZWlnaHQ9IjE1MHB4IiB2aWV3Qm94PSItNTAgLTUwIDE1MCAxNTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgLTUwIC01MCAxNTAgMTUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGNpcmNsZSBjeD0iMjUiIGN5PSIyNSIgcj0iMjUiLz4KPGNpcmNsZSBmaWxsPSIjRkZGRkZGIiBjeD0iMjUiIGN5PSIyNSIgcj0iMjIiLz4KPGNpcmNsZSBjeD0iMjUiIGN5PSIyNSIgcj0iMjAiLz4KPHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSIxNy4wMTksMzMuNSAzNywyNS4wNjUgMTcsMTYuNSAiLz4KPC9zdmc+") center center no-repeat;opacity:0.7 }
.thumbnail .download-overlay {background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iNTBweCIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGNpcmNsZSBjeD0iMjUiIGN5PSIyNSIgcj0iMjUiLz4KPGNpcmNsZSBmaWxsPSIjRkZGRkZGIiBjeD0iMjUiIGN5PSIyNSIgcj0iMjIiLz4KPGNpcmNsZSBjeD0iMjUiIGN5PSIyNSIgcj0iMjAiLz4KPGc+PGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjMiIHgxPSIyNSIgeTE9IjM2IiB4Mj0iMjUiIHkyPSIxMiIvPjxwb2x5bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMyIgcG9pbnRzPSIxNSwyOCAyNSwzOCAzNSwyOCAiLz48L2c+Cjwvc3ZnPg==")}
.thumbnail .watchlater-overlay {background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iNTBweCIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGNpcmNsZSBjeD0iMjUiIGN5PSIyNSIgcj0iMjUiLz4KPGNpcmNsZSBmaWxsPSIjRkZGRkZGIiBjeD0iMjUiIGN5PSIyNSIgcj0iMjIiLz4KPGNpcmNsZSBjeD0iMjUiIGN5PSIyNSIgcj0iMjAiLz4KPHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIzIiBwb2ludHM9IjM1LDMxIDI1LDI2IDI1LDExIAkiLz4KPC9zdmc+")}
.sm-thumb .play-overlay {background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiICB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjI1cHgiIGhlaWdodD0iMjVweCI+CjxjaXJjbGUgY2xhc3M9ImNvdWwiIGN4PSIxMi41IiBjeT0iMTIuNSIgcj0iMTIuNSIgLz4KPGNpcmNsZSBmaWxsPSIjRkZGRkZGIiBjeD0iMTIuNSIgY3k9IjEyLjUiIHI9IjExIi8+CjxjaXJjbGUgY2xhc3M9ImNvdWwiIGN4PSIxMi41IiBjeT0iMTIuNSIgcj0iOS41IiAvPgo8cG9seWdvbiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjgsMTcgMTksMTIuNSA4LDggIi8+Cjwvc3ZnPg==")}
    .portrait-thumbnail .visual{width:25%;margin-left:15%}
.thumbnail .visual img{width:100%}

.thumbnail .format-icons {position: absolute;right: 3px;margin-top:-26px;}
.thumbnail .format-icons img {width: auto;}
/*.sm-thumb .format-icons {margin-top:-18px;}*/

.thumbnail .title {font-size:1.3077em;padding:0.6154em 0 0; font-family:"franklin-gothic-urw", Arial, sans-serif;}
.thumbnail .infos > ul {margin:1.25em 0}
.thumbnail .credits li{display:inline}
.thumbnail .description{margin:1em 0}
.thumbnail .runtime{white-space: pre}
.thumbnail .produits {}
.thumbnail .meta {min-height:1.6454em;font-size:0.6154em;}
.thumbnail .meta li {display: inline;}
.thumbnail .tools li{display:inline-block;}
.thumbnail .tools .right{float:right;}
/*buttons // todo:  mobile-first styles to move in the button css */
.thumbnail .produits li{margin:1em 0}
.thumbnail .bouton{display:block}

.thumbnail .downloads li {margin:2px 0;}
.thumbnail .licence {margin:1.6454em 0;font-size:0.6154em;}


/* layout modifier */
.stack-thumb{margin:0 0px 1.25em;position: relative}
/*.stack-thumb{border: 1px solid #999;padding:1em;}*/
.boxed-thumb{border: 1px solid #999;padding:1em;}

/*badges*/
.thumb-badge{background-color: #666;border-radius: 9px;padding:4px 8px;font-size: 11px}
.cc-badge{}
.dv-badge{}
.campus-badge{text-transform: uppercase;background-color: #0088C1}
.cat{line-height: 30px}
.cat .film{color:#ddf;background-color: #07f;padding: 2px 6px;font-size: 1.4em;border-radius: 5px}
/*states*/
.thumb-disable .thumb-overlay{background-color: #ccc; background-image: none}

/*TODO:  a faire evoluer avec la grille responsive */
.thumb-row{}

/* TABLETTE */
@media (min-width: 704px){
    .thumbnail {width:204px;float:left;clear: none;}
    .thumbnail .title {}
    .thumbnail .infos {font-size: 1em;line-height: 1.25}
    .thumbnail .produits {margin-top: 0.5em}
    .thumbnail .trailer {}
    /*.thumbnail .infos, .thumbnail .title {margin-left:33%;padding-left: 20px}*/
    /*.thumbnail .visual{display:block;width:33%;float:left;margin:0 0 20px 0}*/
    .thumb-badge{font-size: 80%;line-height: 1.25;padding:1px 4px;}

.thumb-row .thumbnail{margin-left: 1.5em}
.thumb-row .thumbnail:first-child {margin-left: 0em}

/*horizontal thumbnail*/

.stack-thumb:before, 
.stack-thumb:after { content:""; display:table; }
.stack-thumb:after { clear:both; }
    .stack-thumb{width:auto;float:none;margin-right: 0}
    .stack-thumb .visual{width: 33.333333%;float:left;}
    .stack-thumb .infos{width:66.666666%;float:left;}
    .stack-thumb .infos .title, .stack-thumb .infos>ul{padding-left: 20px}
    .stack-thumb .infos .title{padding-top: 0px}
    /*.stack-thumb .infos>ul{margin-top: 0px}*/
    .stack-thumb .tools{margin-top:-1em;}
    .stack-thumb  .produits li {display: inline-block;}
    .stack-thumb  .produits li.trailer {display: block;}

.sm-thumb {margin-bottom: 1em;padding-bottom: 0}
.sm-thumb .title{margin-bottom: 2px;line-height: 1}
.sm-thumb .infos > ul {margin:0 0}
.sm-thumb .visual{width:20%;}
.sm-thumb .infos{width:70%;}
.sm-thumb .produits li {margin-bottom: 0;font-size: 0.8em;margin-right: 16px}
.sm-thumb .cat{position: absolute;right:0;top:0;}
}

/*ORDI*/
@media (min-width: 1100px){}

/*TV*/
@media (min-width: 1756px){}


