{% block content %} 
<h1>couleur</h1>
<h3>original</h3>
<div class="palette">
	<div class="pastille bkg1"><b>000</b></div>
	<div class="pastille bkg2"><b>242424</b></div>
	<div class="pastille bkg3"><b>333</b></div>
	<div class="pastille frg1"><b>FFF</b></div>
	<div class="pastille link1"><b>FC6</b></div>
	<div class="pastille link2"><b>F90</b></div>
</div>
<h3>New</h3>
<div class="palette">
	<div class="pastille btn1"><b>478A46</b><br>action</div>
	<div class="pastille btn2"><b>507878</b><br>fonction</div>
	<div class="pastille txt2"><b>EEEBD6</b><br>texte</div>
</div>
<h3>Color code for messages</h3>
<div class="palette">
	<div class="pastille help"><b>F2E1AC</b><br> aide</div>
	<div class="pastille info"><b>6FAFD6</b> <br> info</div>
	<div class="pastille success"><b>A6C96D</b> <br> success</div>
	<div class="pastille warning"><b>f7b045</b> <br> attention</div>
	<div class="pastille danger"><b>F24B5F</b> <br>danger</div>
</div>


{% endblock %}