{% block styles %}        

{% endblock %}
{% block content %} 

<h1>Images</h1>

<h3>Images sizes</h3>
<table class="sg-table">
<tr>
<th></th>
<th>Taille (px)</th>
<th>usage</th>
</tr>

<tr>
<td>XL</td>
<td><code> 2048 x 1152</code></td>
<td>hi-rez</td>
</tr>
<tr>
<td>LG</td>
<td><code> 704 x 396</code></td>
<td></td>
</tr>
<tr>
<td>SM</td>
<td><code>204 x 114</code></td>
<td>Pour thumbnails</td>
</tr>
</table>

<h3>Legacy ( norm.css )</h3>
<table class="sg-table">
<tr>
<th></th>
<th>Taille (px)</th>
<th>usage</th>
</tr>

<tr>
<td>Vedette</td>
<td><code> 720 x 310 </code></td>
<td>hi-rez</td>
</tr>
<tr>
<td>Film cover</td>
<td><code> 512 x 288</code></td>
<td></td>
</tr>

</table>


<h3>Autre</h3>
<table class="sg-table">
<tr>
<th></th>
<th>Taille (px)</th>
<th>usage</th>
</tr>

<tr>
<td>Newsletter</td>
<td><code> 600 x 272  </code></td>
<td></td>
</tr>
<tr>
<td>Blog </td>
<td><code> 640 x 290</code></td>
<td></td>
</tr>

</table>



{% endblock %}
